@import "../variables.scss";

.additional {
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.additional__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0 10px;
    margin: auto;
  }
}

.additional__title {
  font-size: $font-size-normal;
  line-height: $line-height-normal;
  font-weight: $font-weight-regular;
  margin: 0;
  display: inline-block;
  padding-top: 25px;
  margin-bottom: 36px;
  padding-right: 22px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: $font-size-big;
    line-height: $line-height-big;
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 106px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 35px;
    padding-left: 0;
  }
}

.additional__wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: $basic-green;
  top: 40px;
  right: -20px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 768px;
    top: 55px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    top: 50px;
  }
}

.additional__flex {
  @media (min-width: $tablet-width) {
    width: 632px;
    padding: 0 37px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
}

.additional__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 896px;
    padding-top: 15px;
  }
}

.additional__list::before {
  position: absolute;
  content: "";
  width: 280px;
  height: 1px;
  bottom: -15px;
  left: 0;
  background-color: $special-grey;

  @media (min-width: $tablet-width) {
    width: 708px;
    left: -30px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    bottom: 15px;
    left: 0;
  }
}

.additional__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: 31px;

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
    align-items: center;
  }
}

.additional__item::before {
  position: absolute;
  content: "";
  width: 280px;
  height: 1px;
  top: -15px;
  left: 0;
  background-color: $special-grey;

  @media (min-width: $tablet-width) {
    width: 708px;
    left: -30px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    left: 0;
  }
}

.additional__item-title {
  font-size: $font-size-mini;
  line-height: $line-height-mini;
  font-weight: $font-weight-regular;
  color: $black-grey;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-default;
    line-height: $line-height-default;
    width: 40%;
  }

  @media (min-width: $desktop-width) {
    width: 20%;
  }
}

.additional__item-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 40%;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 30%;
  }
}

.additional__item-value,
.additional__item-price {
  font-family: "Ariel", sans-serif;
  font-size: $font-size-small;
  line-height: $line-height-small;
  font-weight: $font-weight-regular;

  @media (min-width: $tablet-width) {
    font-size: $font-size-mini;
    line-height: $line-height-default;
  }
}

.additional__item-price {
  @media (min-width: $tablet-width) {
    margin-left: 50px;
  }
}

.additional__link {
  font-family: "Oswald", sans-serif;
  font-size: $font-size-mini;
  line-height: $line-height-default;
  font-weight: $font-weight-regular;
  color: $white;
  background-color: $basic-green;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  padding: 10px 0;

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.additional__gift {
  background-color: $basic-green;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
  background-image: url("../../img/catalog-background.png");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    height: 200px;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 288px;
    padding: 0;
  }
}

.additional__image {
  text-align: center;
  padding-top: 59px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 0;
  }
}

.additional__gift-text {
  font-family: "Ariel", sans-serif;
  font-size: $font-size-mini;
  line-height: $line-height-default;
  font-weight: $font-weight-regular;
  color: $white;
  text-align: center;
  width: 161px;
  margin: 0;
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    text-align: start;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
