@import "../variables.scss";

.catalog {
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.catalog__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
    margin: auto;
  }
}

.catalog__title {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: $font-weight-regular;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-tablet;
    line-height: $line-height-tablet;
    margin-bottom: 163px;
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
    margin-bottom: 165px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 3px;
  }
}

.catalog__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;

  &--more {
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    width: 324px;
    align-items: center;
    background-color: $basic-grey;
    margin-bottom: 142px;

    &--more {
      width: 320px;
      background-color: $white;
      justify-content: space-between;
      border: 2px solid $basic-grey;
    }

    &--more,
    &--seven {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 144px;

    &--five,
    &--six,
    &--seven,
    &--more {
      margin-bottom: 0;
    }

    &--more {
      width: 241px;
    }
  }
}

.catalog__item::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  top: -10px;
  left: -20px;
  background-color: $background-grey-2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__block {
  width: 50%;

  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.catalog__image {
  display: block;
  position: relative;

  &--chicken500 {
    top: 24px;
    left: 36px;
  }

  &--fish500,
  &--buckwheat500 {
    top: 40px;
    left: 36px;
  }

  &--rice500 {
    top: 34px;
    left: 34px;
  }

  &--chicken1000,
  &--fish1000,
  &--buckwheat1000 {
    top: 22px;
    left: 28px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;

    &--chicken500,
    &--fish500,
    &--buckwheat500,
    &--rice500 {
      top: -45px;
      left: 0;
    }

    &--chicken1000,
    &--fish1000,
    &--buckwheat1000 {
      top: -69px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--chicken500,
    &--fish500,
    &--buckwheat500,
    &--rice500 {
      top: -52px;
      left: 43px;
    }

    &--chicken1000,
    &--fish1000,
    &--buckwheat1000 {
      top: -77px;
      left: 43px;
    }
  }
}

.catalog__item-name {
  font-size: $font-size-mini;
  line-height: $line-height-default;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  color: $black-grey;
  margin: 0;
  width: 77px;
  padding-top: 11px;
  margin-bottom: 16px;

  &--more {
    color: $black-lighter;
    text-align: center;
    align-items: center;
    width: 204px;
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
  }

  @media (min-width: $tablet-width) {
    font-size: $font-size-default;
    line-height: $line-height-normal;
    text-align: center;
    width: 150px;
    padding-top: 161px;
    margin-bottom: 21px;

    &--more {
      padding-top: 0;
      margin-bottom: 26px;
    }
  }
}

.catalog__specs {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: center;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}

.catalog__item-weight,
.catalog__item-taste,
.catalog__item-price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog__item-weight::before,
.catalog__item-taste::before,
.catalog__item-price::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 22px;
    left: 0;
    background-color: $special-grey;
  }

  @media (min-width: $desktop-width) {
    top: 23px;
  }
}

.catalog__item-feature,
.catalog__item-value,
.catalog__item-text {
  font-family: "Ariel", sans-serif;
  font-size: $font-size-tiny;
  line-height: $line-height-mini;
  font-weight: $font-weight-regular;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: $font-size-mini;
  }
}

.catalog__plus {
  display: block;
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 51px;
  }
}

.catalog__plus--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__plus--tablet {
  @media (max-width: $mobile-only-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.catalog__add {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
}

.catalog__add::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  bottom: 10px;
  left: -20px;
  background-color: $background-grey-2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__item-text {
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 167px;
    text-align: center;
  }
}

.catalog__link {
  font-family: "Oswald", sans-serif;
  font-size: $font-size-mini;
  line-height: $line-height-default;
  font-weight: $font-weight-regular;
  color: $white;
  background-color: $basic-green;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  margin-top: 21px;
  margin-bottom: 33px;
  padding: 10px 0;

  &--more {
    color: $special-dark-grey;
    background-color: $basic-grey;
    margin-top: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 248px;
    margin-top: 24px;
    margin-bottom: 39px;

    &--more {
      margin-top: 86px;
      margin-bottom: 36px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 26px;
    width: 168px;

    &--more {
      margin-top: 88px;
      margin-bottom: 38px;
    }
  }
}
