@import "../variables.scss";

.example {
  background-color: $background-grey-2;
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    background-color: $white;
    position: relative;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.example__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0 10px;
    margin: auto;
    flex-direction: column;
    position: relative;
  }
}

.example::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 100%;
    height: 462px;
    bottom: 0;
    background-color: $background-grey-2;
    z-index: -1;
  }
}

.example__title {
  font-size: $font-size-big;
  line-height: $line-height-super;
  font-weight: $font-weight-regular;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-tablet;
    line-height: $line-height-tablet;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  font-family: "Ariel", sans-serif;
  font-size: $font-size-small;
  line-height: $line-height-average;
  font-weight: $font-weight-regular;
  color: $special-dark-grey;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-mini;
    line-height: $line-height-normal;
    width: 700px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__result {
  @media (min-width: $tablet-width) {
    width: 360px;
  }
}

.example__result-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__result-frame {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 124px;
  border: 1px solid $special-grey;
  border-radius: 5px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__result-value {
  font-size: $font-size-normal;
  line-height: $line-height-normal;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: $font-size-more;
    line-height: $line-height-mega;
  }
}

.example__result-description {
  position: absolute;
  content: "";
  text-align: center;
  background-color: $background-grey-2;
  font-family: "Ariel", sans-serif;
  font-size: $font-size-tiny;
  line-height: $line-height-tiny;
  font-weight: $font-weight-regular;
  color: $special-dark-grey;
  width: 77px;
  top: 43px;
  left: 22px;
  z-index: 3;

  @media (min-width: $tablet-width) {
    font-size: $font-size-small;
    line-height: $line-height-small;
    background-color: $white;
    width: 127px;
    top: 59px;
    left: 17px;
  }

  @media (min-width: $desktop-width) {
    background-color: $background-grey-2;
  }
}

.example__spent {
  padding-top: 30px;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 360px;
    padding-top: 55px;
    margin-bottom: 75px;
  }
}

.example__spent-text,
.example__spent-value {
  font-size: $font-size-small;
  line-height: $line-height-default;
  font-weight: $font-weight-regular;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size-default;
    text-align: end;
  }
}

.example__spent-value {
  @media (min-width: $desktop-width) {
    padding-right: 40px;
  }
}

.example__cat {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 680px;
    padding-top: 0;
  }
}

.example__toggles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.example__button {
  font-family: "Oswald", sans-serif;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-size: $font-size-mini;
  line-height: $line-height-default;
  font-weight: $font-weight-regular;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size-default;
    line-height: $line-height-tall;
  }
}
