@import "../variables.scss";

.example {
  background-color: $background-grey-2;
}
.example__title {
  font-size: $font-size-big;
  line-height: $line-height-super;
  font-weight: $font-weight-regular;
}
.example__text {
  font-family: "Ariel", sans-serif;
  font-size: $font-size-small;
  line-height: $line-height-average;
  font-weight: $font-weight-regular;
  color: $special-dark-grey;
}
.example__result-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.example__result-value {
  font-size: $font-size-normal;
  line-height: $line-height-normal;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
}
.example__result-description {
  font-family: "Ariel", sans-serif;
  font-size: $font-size-tiny;
  line-height: $line-height-tiny;
  font-weight: $font-weight-regular;
  color: $special-dark-grey;
}
.example__spent-text,
.example__spent-value {
  font-size: $font-size-small;
  line-height: $line-height-default;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
}
.example__cat-button {
  font-family: "Oswald", sans-serif;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-size: $font-size-mini;
  line-height: $line-height-default;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
}
