@import "../variables.scss";

.main-footer {
  background-color: $basic-grey;
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.main-footer__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0 10px;
    margin: auto;
  }
}

.main-footer__logo-link {
  width: 128px;
  text-align: center;
}

.main-footer__contacts {
  padding-left: 74px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.main-footer__contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
}

.main-footer__htmlacademy-link {
  font-family: "Ariel", sans-serif;
  font-size: $font-size-mini;
  line-height: $line-height-average;
  font-weight: $font-weight-regular;
  color: $special-dark-grey;
  text-decoration: none;
}
