@import "../variables.scss";

.main-footer__contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-footer__htmlacademy-link {
  color: $black;
  font-family: "Ariel", sans-serif;
  font-size: $font-size-mini;
  line-height: $line-height-average;
  font-weight: $font-weight-regular;
  color: $special-dark-grey;
  text-decoration: none;
}
