@import "../variables.scss";

.main-footer {
  background-color: $basic-grey;
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.main-footer__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
    margin: auto;
    padding-top: 58px;
  }
}

.main-footer__logo {
  padding-top: 40px;
  margin-bottom: 30px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    top: 95px;
    left: 0;
    background-color: $background-grey-1;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 4px;
  }
}

.main-footer__logo-link {
  width: 128px;
  text-align: center;
}

.main-footer__contacts {
  padding-top: 20px;
  padding-bottom: 21px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    top: 60px;
    left: 0;
    background-color: $background-grey-1;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 25px;
    padding-top: 4px;
  }
}

.main-footer__contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-footer__contacts-item {
  width: 50px;
  text-align: center;
}

.main-footer__htmlacademy {
  padding-top: 18px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.main-footer__htmlacademy-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    width: 163px;
  }
}

.main-footer__htmlacademy-name {
  font-family: "Ariel", sans-serif;
  font-size: $font-size-mini;
  line-height: $line-height-average;
  font-weight: $font-weight-regular;
  color: $special-dark-grey;
  justify-content: center;
}
