@import "../variables.scss";

.form {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    margin: auto;

    &--top {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.form__contacts,
.form__commentary,
.form__additional {
  padding: 0;
  margin: 0 auto;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__name,
.form__weight,
.form__age,
.form__text,
.form__email,
.form__phone,
.form__commentary-text {
  font-family: $font-oswald;
  font-size: $font-size-mini;
  line-height: $line-height-average;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: $font-size-default;
    line-height: $line-height-tall;
  }
}

.form__contacts-title,
.form__commentary-title,
.form__additional-title {
  font-size: $font-size-normal;
  line-height: $line-height-more;
  font-weight: $font-weight-regular;
  background-color: $white;
  display: inline-block;

  @media (min-width: $tablet-width) {
    font-size: $font-size-big;
    line-height: $line-height-big;
  }
}

.form__sweetener,
.form__water,
.form__milk,
.form__vitamins {
  font-size: $font-size-mini;
  line-height: $line-height-average;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
}

.form__cat {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
    padding-right: 50px;
    margin-bottom: 0;
  }
}

.form__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-left: 39px;
    padding-right: 37px;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 20px;

    &--email,
    &--phone {
      width: 569px;
    }
  }
}

.form__cat .form__block:last-child {
  margin-bottom: 0;
}

.form__name,
.form__weight,
.form__age,
.form__email,
.form__phone {
  white-space: nowrap;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
  }
}

.form__text {
  width: 100%;
  border: 1px solid $border-grey;

  &--name {
    padding-left: 14px;
    padding-top: 13px;
    padding-bottom: 14px;

    @media (min-width: $tablet-width) {
      padding-left: 19px;
      padding-top: 10px;
      padding-bottom: 11px;
    }
  }

  &--weight,
  &--age {
    padding-left: 16px;
    padding-top: 13px;
    padding-bottom: 14px;

    @media (min-width: $tablet-width) {
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 11px;
    }
  }

  &--email {
    padding-left: 15px;
    padding-top: 13px;
    padding-bottom: 15px;
    background-image: url("../../img/icon-email.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;

    @media (min-width: $tablet-width) {
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-position: right 19px center;
    }
  }

  &--phone {
    padding-left: 14px;
    padding-top: 13px;
    padding-bottom: 15px;
    background-image: url("../../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;

    @media (min-width: $tablet-width) {
      padding-left: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-position: right 17px center;
    }

    @media (min-width: $desktop-width) {
      padding-left: 15px;
    }
  }
}

.form__text:hover,
.form__commentary-text:hover {
  border: 1px solid $special-grey;
}

.form__text:focus,
.form__commentary-text:focus {
  border: 1px solid $special-dark-grey;
}

.form__text:invalid,
.form__commentary-text:invalid {
  border: 1px solid $error;
}

.form__text--email:focus {
  background-image: url("../../img/icon-email-focus.svg");
}

.form__text--phone:focus {
  background-image: url("../../img/icon-phone-focus.svg");
}

.form__text--email:invalid {
  background-image: url("../../img/icon-email-error.svg");
}

.form__text--phone:invalid {
  background-image: url("../../img/icon-phone-error.svg");
}

.form__program {
  padding-top: 39px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    margin-left: 40px;
    margin-right: 37px;
    border: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    width: 569px;
    margin: 0;
  }
}

.form__program::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  top: 10px;
  left: -20px;
  background-color: $background-grey-1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__program::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  bottom: -25px;
  left: -20px;
  background-color: $background-grey-1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__label-radio::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  top: -6px;
  left: 0;
  border: 1px solid $special-grey;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 38px;
    top: -6px;
    left: 27px;
  }
}

.form__input-radio:checked + .form__label-radio::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 2px;
  left: 8px;
  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 5px;
    left: 38px;
  }
}


.form__label {
  font-size: $font-size-mini;
  line-height: $line-height-average;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 25px;
  cursor: pointer;

  &--diet,
  &--mass,
  &--dont-know {
    color: $black-grey;

    @media (min-width: $tablet-width) {
      padding-left: 90px;
      margin-bottom: 24px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: $font-size-default;
    line-height: $line-height-tall;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.form__input-radio:focus + .form__label-radio::before,
.form__input-checkbox:focus + .form__label-checkbox::before {
  outline: 2px solid $black;
}

.form__contacts::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  background-color: $basic-green;
  top: 42px;
  right: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 100%;
    top: 99px;
  }

  @media (min-width: $desktop-width) {
    top: 91px;
  }
}

.form__contacts-blocks {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}

.form__contacts-title {
  padding-top: 26px;
  margin: 0;
  margin-bottom: 34px;
  width: 187px;
  padding-right: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
    padding-left: 39px;
    margin-bottom: 78px;
    width: 515px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    left: -40px;
    padding-left: 40px;
    padding-top: 69px;
  }
}

.form__commentary::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  background-color: $basic-green;
  top: 24px;
  right: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 100%;
    top: 72px;
  }

  @media (min-width: $desktop-width) {
    top: 67px;
  }
}

.form__commentary-title {
  padding-top: 10px;
  padding-right: 22px;
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    margin-bottom: 76px;
    padding-left: 39px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    left: -40px;
    padding-left: 40px;
    padding-top: 45px;
  }
}

.form__commentary-text {
  width: 100%;
  height: 151px;
  resize: none;
  margin: 0;
  padding: 0;
  border: 1px solid $border-grey;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 12px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 630px;
    height: 174px;
    padding-top: 10px;
    padding-left: 19px;
    margin-left: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-left: 0;
  }
}

.form__additional::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  background-color: $basic-green;
  top: 32px;
  right: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 100%;
    top: 81px;
  }

  @media (min-width: $desktop-width) {
    top: 84px;
  }
}

.form__additional-title {
  padding-top: 18px;
  padding-right: 22px;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    margin-bottom: 60px;
    padding-left: 39px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    left: -40px;
    padding-left: 40px;
    margin-bottom: 64px;
  }
}

.form__checkboxes {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 39px;
    margin-right: 103px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 24px;
  }
}

.form__checkbox-block {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 221px;
  }
}

.form__label-checkbox {
  @media (min-width: $tablet-width) {
    padding-left: 63px;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__label-checkbox::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  top: -6px;
  left: 0;
  border: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__input-checkbox:checked + .form__label-checkbox::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  top: 2px;
  left: 6px;
  background-image: url("../../img/icon-checked-mobile.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 19px;
    background-image: url("../../img/icon-checked-table.svg");
    top: 5px;
    left: 10px;
  }
}

.form__label-radio:hover::before,
.form__label-checkbox:hover::before {
  border: 1px solid $check-hover;
}

.form__input-radio:disabled + .form__label-radio,
.form__input-checkbox:disabled + .form__label-checkbox {
  opacity: 0.3;
}

.form__bottom {
  padding: 0;
  margin: 0 auto;
  margin-top: 38px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-top: 26px;
  }
}

.form__wrapper--bottom {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.form__button {
  display: inline-block;
  font-family: $font-oswald;
  font-size: $font-size-mini;
  line-height: $line-height-default;
  font-weight: $font-weight-regular;
  color: $white;
  background-color: $basic-green;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  width: 280px;
  padding: 10px 0;
  margin-bottom: 17px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: $font-size-default;
    padding: 16px 0;
    width: 282px;
    margin-left: 39px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-left: 0;
    margin-bottom: 82px;
  }
}

.form__button:hover,
.form__button:focus {
  background-color: $basic-green-hover;
}

.form__button:active {
  color: rgba($color: $white, $alpha: 0.3);
  background-color: $basic-green-hover;
}

.form__required {
  font-family: $font-arial;
  font-size: $font-size-small;
  line-height: $line-height-mini;
  font-weight: $font-weight-regular;
  margin-bottom: 33px;
  width: 158px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-mini;
    text-align: start;
    padding-top: 16px;
    padding-left: 61px;
    margin-bottom: 0;
    width: 181px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
    padding-left: 81px;
  }
}
