@import "../variables.scss";

.main-header {
  color: $black;
  min-width: 320px;
  background-color: $white;
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 53px;
  }
}

.main-header__wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0 10px;
    margin: auto;
  }
}

.main-header__top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-header__logo {
  width: 34px;
  height: 38px;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-header__logo--mobile {
  @media (max-width: $mobile-only-width) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__logo--tablet {
  @media (max-width: $mobile-only-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__logo--desktop {
  @media (max-width: $mobile-only-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}


.main-header__cat-energy {
  width: 101px;
  height: 18px;
  margin-left: 57px;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav {
  position: relative;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
    z-index: 3;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -45px;
  left: 255px;
  width: 24px;
  height: 18px;
  background-color: $white;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: $black;
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: $black;
  transform: rotate(-45deg);
}

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-list__link {
  display: block;
  position: relative;
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: $font-weight-medium;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  padding-top: 22px;
  padding-bottom: 24px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: $border-nav;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: $font-size-average;
    line-height: $line-height-normal;
    font-weight: $font-weight-regular;
    padding-top: 18px;
    padding-bottom: 14px;

    &--active {
      border-bottom: 2px solid $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-default;
    line-height: $line-height-tall;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--index .site-list__link {
    color: $white;
  }

  .site-list__item--index .site-list__link--active {
    border-bottom: 2px solid $white;
  }
}

@media (max-width: $mobile-only-width) {
  .main-nav--closed .site-list {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .site-list {
  display: block;
}
