@import "../variables.scss";

.main-header {
  color: $black;
  min-width: 320px;
  background-color: $white;
}

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__link {
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: $font-weight-medium;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
}
