@import "../variables.scss";

.main-header {
  color: $black;
  min-width: 320px;
  background-color: $white;
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.main-header__wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0 10px;
    margin: auto;
  }
}

.main-header__top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.main-header__logo {
  width: 34px;
  height: 38px;
}

.main-header__cat-energy {
  width: 101px;
  height: 18px;
}

.main-nav {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-list__link {
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: $font-weight-medium;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: $font-size-average;
    line-height: $line-height-normal;
    font-weight: $font-weight-regular;
  }
}
