@import "../variables.scss";

.index-top {
  background-color: $basic-green;
  color: $white;
}

.index-top__title {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: $font-weight-regular;
}

.index-top__text {
  font-size: $font-size-small;
  line-height: $line-height-small;
  text-transform: uppercase;
}

.index-top__link {
  font-size: $font-size-small;
  line-height: $line-height-average;
  font-weight: $font-weight-regular;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
}
