@import "../variables.scss";

.instruction {
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.instruction__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0 10px;
    margin: auto;
  }
}

.instruction__title {
  font-size: $font-size-big;
  line-height: $line-height-super;
  font-weight: $font-weight-regular;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-tablet;
    line-height: $line-height-tablet;
  }
}

.instruction__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 659px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.instruction__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 250px;
    position: relative;
    z-index: 1;

    &--one::before {
      position: absolute;
      content: "1";
      color: $basic-grey;
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      line-height: 280px;
      font-weight: $font-weight-regular;
      width: 71px;
      height: 280px;
      top: -40px;
      right: 60px;
      z-index: 1;
    }

    &--two::before {
      position: absolute;
      content: "2";
      color: $basic-grey;
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      line-height: 280px;
      font-weight: $font-weight-regular;
      width: 134px;
      height: 280px;
      top: -40px;
      right: 0;
      z-index: 1;
    }

    &--three::before {
      position: absolute;
      content: "3";
      color: $basic-grey;
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      line-height: 280px;
      font-weight: $font-weight-regular;
      width: 134px;
      height: 280px;
      top: -40px;
      right: 0;
      z-index: 1;
    }

    &--four::before {
      position: absolute;
      content: "4";
      color: $basic-grey;
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      line-height: 280px;
      font-weight: $font-weight-regular;
      width: 134px;
      height: 280px;
      top: -40px;
      right: 0;
      z-index: 1;
    }
  }
}

.instruction__item-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 250px;
    height: 280px;
    flex-direction: column;
    justify-content: start;
  }
}

.instruction__image {
  display: block;
  width: 60px;
  height: 60px;
  background-color: $basic-green;

  &--leaf {
    position: relative;
    top: 14px;
    left: 15px;

    @media (min-width: $tablet-width) {
      top: 25px;
      left: 24px;
    }
  }

  &--tub {
    position: relative;
    top: 13px;
    left: 15px;

    @media (min-width: $tablet-width) {
      top: 24px;
      left: 25px;
    }
  }

  &--eat {
    position: relative;
    top: 15px;
    left: 18px;

    @media (min-width: $tablet-width) {
      top: 25px;
      left: 28px;
    }
  }

  &--alarm {
    position: relative;
    top: 13px;
    left: 14px;

    @media (min-width: $tablet-width) {
      top: 23px;
      left: 24px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.instruction__text {
  width: 200px;
  font-family: "Ariel", sans-serif;
  font-size: $font-size-small;
  line-height: $line-height-average;
  font-weight: $font-weight-regular;
  color: $special-dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 2;
    width: 245px;
    font-size: $font-size-mini;
    line-height: $line-height-normal;
    padding-top: 30px;
  }
}
