@import "../variables.scss";

.offer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.offer__item {
  background-color: $basic-grey;
}

.offer__title {
  font-size: $font-size-normal;
  line-height: $line-height-mega;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
}

.offer__text {
  font-family: "Ariel", sans-serif;
  font-size: $font-size-small;
  line-height: $line-height-average;
  font-weight: $font-weight-regular;
  color: $special-dark-grey;
}

.offer__link {
  font-family: $font-size-mini;
  line-height: $line-height-mini;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
}
