@import "../variables.scss";

.offer {
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.offer__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
    margin: auto;
  }
}

.offer__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.offer__item {
  background-color: $basic-grey;
  margin-bottom: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    flex-direction: column;
    padding-left: 52px;
    padding-right: 62px;
    padding-bottom: 56px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    width: 467px;
    padding-right: 51px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 55px;
  }
}

.offer__image {
  padding-top: 21px;
  margin-right: 20px;

  &--pro {
    margin-right: 5px;
    position: relative;
    top: 0;
    left: -7px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 80px;
    left: 450px;
    padding-top: 0;
    margin-right: 0;

    &--pro {
      top: 90px;
      left: 410px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 40px;
    left: 0;

    &--pro {
      top: 45px;
      left: -20px;
    }
  }
}

.offer__svg--mobile {
  @media (max-width: $mobile-only-width) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.offer__svg--tablet {
  @media (max-width: $mobile-only-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.offer__svg--desktop {
  @media (max-width: $mobile-only-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.offer__title {
  font-size: $font-size-normal;
  line-height: $line-height-mega;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-big;
    line-height: $line-height-big;
    padding-top: 77px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 140px;

    &--pro {
      padding-right: 100px;
    }
  }
}

.offer__text {
  position: relative;
  font-family: $font-arial;
  font-size: $font-size-small;
  line-height: $line-height-average;
  font-weight: $font-weight-regular;
  color: $special-dark-grey;
  margin: 0;
  padding-top: 18px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    width: 340px;
    font-size: $font-size-mini;
    line-height: $line-height-normal;
    padding-top: 24px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 470px;
    padding-top: 73px;
    margin-bottom: 26px;
  }
}

.offer__link {
  text-decoration: none;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 165px;
  }

  @media (min-width: $desktop-width) {
    width: 165px;
  }

  &::before {
    position: absolute;
    content: "";
    top: -17px;
    left: 0;
    width: 240px;
    height: 1px;
    background-color: $background-grey-1;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.offer__link-title {
  font-size: $font-size-mini;
  line-height: $line-height-mini;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  color: $black;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-default;
    line-height: $line-height-tall;
    padding-right: 25px;
  }
}

.offer__link-arrow {
  transform: scaleX(1);
  transform-origin: center left;
  transition: transform 0.33s;

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
  }
}

.offer__link:hover .offer__link-arrow {
  transform: scaleX(1.4);
}

.offer__link:active {
  opacity: 0.3;
}
