@import "../variables.scss";

.partnership {
  background-color: $white;
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    background-color: $background-grey-2;
  }
}

.partnership__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0;
    margin: auto;
    position: relative;
  }
}

.partnership--form,
.partnership--catalog {
  background-color: $basic-grey;
}

.partnership__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 0;
    width: 405px;
    padding: 59px 80px 56px;
    background-color: $white;
    margin-left: 110px;
  }
}

.partnership__title {
  font-size: $font-size-mini;
  line-height: $line-height-default;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  width: 140px;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 172px;
    font-size: $font-size-default;
    line-height: $line-height-more;
    padding-top: 61px;
    padding-left: 40px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 163px;
    padding: 0;
  }
}

.partnership__address {
  width: 140px;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 160px;
    padding-top: 61px;
    padding-right: 40px;
    padding-bottom: 61px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    width: 155px;
    text-align: start;
    padding: 0;
  }
}

.partnership__address-street {
  font-family: $font-arial;
  font-size: $font-size-small;
  line-height: $line-height-default;
  font-weight: $font-weight-regular;
  color: $special-dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size-mini;
  }
}

.partnership__address-city {
  font-family: $font-arial;
  font-size: $font-size-small;
  line-height: $line-height-default;
  font-weight: $font-weight-regular;
  color: $special-dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size-mini;
    padding-top: 20px;
  }
}

.partnership__map iframe {
  display: block;
  border: none;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 400px;
  }
}
