@import "../variables.scss";

.selection {
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.selection__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
    margin: auto;
  }
}
