@import "../variables.scss";

.selection {
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  min-width: 320px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.selection__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    margin: auto;
  }
}

.selection::before {
  position: absolute;
  content: "";
  width: 65%;
  height: 2px;
  background-color: $basic-green;
  box-shadow: 0 214px 0 0 $basic-green, 0 451px 0 0 $basic-green;
  top: 386px;
  right: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 100%;
    top: 560px;
    box-shadow: 0 300px 0 0 $basic-green, 0 653px 0 0 $basic-green;
  }

  @media (min-width: $desktop-width) {
    top: 290px;
    box-shadow: 0 232px 0 0 $basic-green, 0 585px 0 0 $basic-green;
  }
}
