@import "../variables.scss";

.page__body {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: none;
  font-style: normal;
  color: $black;
  background-color: $white;
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
