// Colors

$black: #000000;
$black-lighter: #111111;
$black-grey: #222222;
$white: #ffffff;
$basic-green: #68b73b;
$basic-grey: #f2f2f2;
$background-grey-1: #d9d9d9;
$background-grey-2: #eaeaea;
$special-grey: #cdcdcd;
$special-dark-grey: #444444;
$border-grey: #e7e7e7;

// Viewports

$tablet-width: 768px;
$desktop-width: 1220px;
$mobile-only-width: 767px;

// Fonts

$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-mini: 16px;
$font-size-average: 18px;
$font-size-default: 20px;
$font-size-normal: 24px;
$font-size-more: 30px;
$font-size-big: 36px;
$font-size-tablet: 60px;

$line-height-tiny: 12px;
$line-height-small: 14px;
$line-height-mini: 16px;
$line-height-average: 18px;
$line-height-default: 20px;
$line-height-normal: 24px;
$line-height-more: 26px;
$line-height-tall: 30px;
$line-height-big: 36px;
$line-height-mega: 37px;
$line-height-super: 40px;
$line-height-tablet: 60px;

$font-weight-regular: 400;
$font-weight-medium: 500;
